# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcresult
.swiftpm/
.build/
# macOS
.DS_Store
# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
fastlane/.env
*.p8
# Bundler
vendor/
.bundle/
# fastlane secrets and outputs
fastlane/.env.*
!fastlane/.env.example
fastlane/README.md
*.pkg
*.app
